{% extends 'base.html.twig' %}

{% block title %}{{nom_page}}{% endblock %}

{% block body %}
    <div class ="jumbotron">
        <h1 class="display-3">{{article.titre}}</h1>
        <p>{{article.published|date('d/m/Y')}}</p>
        <p>{{article.content}}</p>
    </div>
{% endblock %}